<div class="main-header">
    <h1>
        Which questions would you like to study?
    </h1>
    <div class="buttons">
        <button class="btn btn-dark btn-lg" routerLink="/questions">
            10 POINT QUESTIONS
        </button>
        <div class="space">
        </div>
        <button class="btn btn-dark btn-lg" routerLink="/questions20">
            20 POINT QUESTIONS
        </button>
        <div class="space">
        </div>
        <button class="btn btn-dark btn-lg" routerLink="/questions30">
            30 POINT QUESTIONS
        </button>
    </div>
</div>