* {
    background-color: white;
}

button {
    background-color: blue;
    font-size: xx-large;
    text-align: center;
    
}

button:hover{
    font-size: 40px;
}

h1 {
    font-size: 50px;
}

p {
    padding: 5px;
    font-size: 25px;
}

h3 {
    padding-top: 2%;
    font-size: 40px;
}

ul {
    font-size: 25px;
    padding: .5%;
}

