<div class="encased d-flex justify-content-between p-3">
    <div class="container bg-light mt-5 py-5">
        <div class="card">
            <h1>Welcome to the UNOFFICIAL JBQ app!</h1>
            <p>This is a study tool for children and parents of the JBQ community who need a break from reading on
                paper.
            </p>
            <h3>Current Functions:</h3>
            <ul>
                <li> Choose to study 10, 20, or 30 point questions</li>
                <li> Keep track of which questions you got right and which you might need to work on a little more</li>
                <li> Go through an entire match with 20 questions, simulating a real meet</li>
            </ul>
            <button class="btn btn-primary btn-lg" routerLink="/choose">Let's Get Started!</button>
        </div>
    </div>
</div>